{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@redux": "./data/redux",
          "@api": "./data/calls"
        }
      }
    ]
  ]
}