body { 
  margin: 6px;
  height: 100%;
  background-image: url("https://mvbab.se/wp-content/uploads/2018/12/alska_staden_par-1920x1280.jpg");
  background-size: resize;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}
h1 {
  font-size: 26px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h2 {
  font-size: 22px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h3 {
  font-size: 18px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h4 {
  font-size: 14px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h5 {
  font-size: 12px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
[role="button"], [role="button"]:hover, [role="button"]:focus, [role="button"]:active {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-appearance: none;
  }
  @media only screen and (max-width: 375px) {
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 14px;
    }
    h4 {
      font-size: 12px;
    }
    h5 {
      font-size: 10px;
    }
  }